<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="icon" type="image/png" href="{{settings.favicon | img_url: '32x'}}" />
  <title>
    {{ page_title }}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  
  {% include 'style-tags' %}
  {% include 'script-tags' %}
  
  {{ content_for_header }}
  
</head>
<body class="{{template.suffix}}">
    <header>
        {%- section 'header' -%}
    </header>

    <main>
      {{ content_for_layout }}
    </main>

    <footer>
      {%- section 'footer' -%}
    </footer>
</body>
</html>
